{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 2,
  "iteration": 1682335469322,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 20,
      "panels": [],
      "title": "Fixed",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "0Xek0Y-Vk"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Device"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 90
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 180
              },
              {
                "id": "unit",
                "value": "dateTimeAsSystem"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 4,
        "w": 5,
        "x": 18,
        "y": 1
      },
      "id": 8,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": true,
        "sortBy": []
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "hrSystemDate",
          "format": "table",
          "instant": true,
          "range": false,
          "refId": "A"
        }
      ],
      "title": "System time",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Time": true,
              "__name__": true,
              "job": true
            },
            "indexByName": {},
            "renameByName": {
              "Value": "Time",
              "__name__": "",
              "instance": "Device",
              "job": ""
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "0Xek0Y-Vk"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "job"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 57
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Value"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 51
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "instance"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 106
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "ifPhysAddress"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 187
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "ifIndex"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 72
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "__name__"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 141
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 201
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Interface speed"
            },
            "properties": [
              {
                "id": "unit",
                "value": "bps"
              },
              {
                "id": "custom.displayMode",
                "value": "basic"
              },
              {
                "id": "color",
                "value": {
                  "mode": "continuous-RdYlGr"
                }
              },
              {
                "id": "custom.width",
                "value": 147
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Status"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 70
              },
              {
                "id": "mappings",
                "value": [
                  {
                    "options": {
                      "0": {
                        "color": "semi-dark-red",
                        "index": 1,
                        "text": "Down"
                      },
                      "1": {
                        "color": "semi-dark-green",
                        "index": 0,
                        "text": "Up"
                      }
                    },
                    "type": "value"
                  }
                ]
              },
              {
                "id": "custom.displayMode",
                "value": "color-background-solid"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Hostname"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 178
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Interface name"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 303
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Intf Index"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 49
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "MAC"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 156
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Serial number"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 135
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 20,
        "w": 23,
        "x": 0,
        "y": 5
      },
      "id": 12,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "frameIndex": 1,
        "showHeader": true,
        "sortBy": [
          {
            "desc": false,
            "displayName": "Device"
          }
        ]
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "ifPhysAddress{ifPhysAddress!=\"00:00:00:00:00:00\"}",
          "format": "table",
          "instant": true,
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sysName",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "ifSpeed!=0",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "C"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "ifDescr",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "D"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "ifOperStatus",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "E"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "entPhysicalSerialNum",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "F"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "entPhysicalModelName",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "G"
        }
      ],
      "title": "Summary",
      "transformations": [
        {
          "id": "filterFieldsByName",
          "options": {
            "include": {
              "names": [
                "ifIndex",
                "ifPhysAddress",
                "instance",
                "sysName",
                "Value #C",
                "ifDescr",
                "Value #D",
                "entPhysicalSerialNum",
                "entPhysicalModelName"
              ]
            }
          }
        },
        {
          "id": "merge",
          "options": {}
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {},
            "indexByName": {
              "Value #C": 5,
              "Value #E": 6,
              "ifDescr": 4,
              "ifIndex": 3,
              "ifPhysAddress": 1,
              "instance": 0,
              "sysName": 2
            },
            "renameByName": {
              "Value #C": "Interface speed",
              "Value #D": "Status",
              "Value #E": "Status",
              "entPhysicalModelName": "Model",
              "entPhysicalSerialNum": "Serial number",
              "ifDescr": "Interface name",
              "ifIndex": "Intf Index",
              "ifPhysAddress": "MAC",
              "instance": "Device",
              "sysName": "Hostname"
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 25
      },
      "id": 18,
      "panels": [],
      "title": "Temporary",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "0Xek0Y-Vk"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "entLogicalDescr"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 323
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "entLogicalIndex"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 66
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "instance"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 96
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "job"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 73
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Value"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 75
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "__name__"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 145
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 153
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "entPhysicalDescr"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 321
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 9,
        "w": 13,
        "x": 0,
        "y": 26
      },
      "id": 16,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "frameIndex": 3,
        "showHeader": true,
        "sortBy": []
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "entLogicalDescr",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "entPhysicalDescr{entPhysicalIndex=\"1\"}",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "entPhysicalModelName{entPhysicalModelName!=\"\"}",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "C"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "entPhysicalSerialNum{entPhysicalSerialNum!=\"\"}",
          "format": "table",
          "hide": false,
          "instant": true,
          "range": false,
          "refId": "D"
        }
      ],
      "title": "Hardware descriptions",
      "type": "table"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "0Xek0Y-Vk"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "binbps"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Value"
            },
            "properties": [
              {
                "id": "custom.displayMode",
                "value": "basic"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 9,
        "w": 11,
        "x": 13,
        "y": 26
      },
      "id": 14,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": true,
        "sortBy": [
          {
            "desc": false,
            "displayName": "instance"
          }
        ]
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "ifSpeed!=0",
          "format": "table",
          "instant": true,
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Interface speed (excluding 0 bits/sec)",
      "type": "table"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "0Xek0Y-Vk"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 19,
        "x": 0,
        "y": 35
      },
      "id": 10,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": true,
        "sortBy": [
          {
            "desc": true,
            "displayName": "Value"
          }
        ]
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "hrStorageSize",
          "format": "table",
          "instant": true,
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Storage size",
      "type": "table"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "0Xek0Y-Vk"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "__name__"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 97
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "instance"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 94
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "job"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 68
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "sysName"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 197
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Value"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 62
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 188
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 9,
        "w": 11,
        "x": 0,
        "y": 43
      },
      "id": 6,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": true,
        "sortBy": []
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sysName",
          "format": "table",
          "instant": true,
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Hostnames",
      "type": "table"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "0Xek0Y-Vk"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "job"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 65
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "instance"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 94
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "sysDescr"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 632
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Value"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 55
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "__name__"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 102
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 187
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 9,
        "w": 13,
        "x": 11,
        "y": 43
      },
      "id": 4,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": true,
        "sortBy": []
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sysDescr",
          "format": "table",
          "instant": true,
          "range": false,
          "refId": "A"
        }
      ],
      "title": "System description",
      "type": "table"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "0Xek0Y-Vk"
      },
      "description": "Maybe filter more specificaly -> hardware[chassis], ...",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "left",
            "displayMode": "auto",
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "hrDeviceDescr"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 416
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "hrDeviceIndex"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 113
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "instance"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 107
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "job"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 96
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 164
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 13,
        "w": 20,
        "x": 0,
        "y": 52
      },
      "id": 2,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": true,
        "sortBy": [
          {
            "desc": false,
            "displayName": "instance"
          }
        ]
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "0Xek0Y-Vk"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "(hrDeviceDescr)",
          "format": "table",
          "instant": true,
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Hardware descriptions",
      "type": "table"
    }
  ],
  "schemaVersion": 36,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "datasource": {
          "type": "prometheus",
          "uid": "0Xek0Y-Vk"
        },
        "filters": [],
        "hide": 0,
        "name": "Filters",
        "skipUrlSync": false,
        "type": "adhoc"
      }
    ]
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "New mn",
  "uid": "dlFWJY-Vz",
  "version": 10,
  "weekStart": ""
}
