# This is placed in ˜/.snmp/snmp.conf
# This way, you do not have to type the snmp credentials every time you use snmpwalk etc.

defSecurityName {{ snmp_username }}
defSecurityLevel authPriv
defAuthType MD5
defPrivType DES
defAuthPassphrase {{ snmp_pass }}
defPrivPassphrase {{ snmp_pass}}